/* search item style */

.searchItem{
    margin: 20px 0px;
}

.searchItem__displayLink{
    font-size: 14px;
    line-height: 1.3;
}

.searchItem__formattedUrl{
    font-size: 20px;
    line-height: 1.3;
    margin: 5px 0px;
}

.searchItem__formattedUrl a{
    text-decoration: none;
}

.searchItem__formattedUrl a:hover{
    text-decoration: underline;
}

.searchItem__description{
    color: #4d5156;
    font-size: 14px;
    line-height: 1.58;
    word-wrap: break-word;
}