/* search page style */

.searchPage{
    display: flex;
    flex-direction: column;
}

.searchHeader{
    padding: 10px 0px;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

@media(min-width: 767.98px){
    .searchHeader{
        width: 650px;
    }
}